body {
  font-family: "Montserrat", sans-serif;
  /* background-color: rgb(10, 10, 57); */

  background-color: rgb(13, 13, 40);
  color: white;
  /* letter-spacing: 10%; */
}

.navbar {
  position: fixed;
  top: 0;
}

.nav-link {
  /* font-family: 'Montserrat'; */
  color: black;
  margin: 1%;
  font-size: large;
  font-weight: 400;
}

.nav-link:hover {
  color: blue;
}

.projectCard:hover {
  /* make them pop forward a bit */
  transform: scale(1.1);
  transition: transform 0.3s;
  border: black solid 1px;
}

.col {
  margin: 2%;
}

.fa:hover {
  transform: scale(1.5);
  transition: transform 0.3s;
}
.custom-border-radius {
  border-radius: 15px;
}
